
<div class="container-fluid">

    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1 class="text-center "><b>Todos los productos</b></h1>
        </header>
    </div>

    <div class="row">
        <ul>
            {{#each products}}
            <li class="mb-2"> <span class="me-1 fw-bold">Producto:</span> {{this.title }}, <span class="ms-2 fw-bold">Id:</span> {{this.id}}</li>
            {{/each}}
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const wsc= io("ws://localhost:8090")

        wsc.emit("message","mensaje desde el cliente")

        wsc.on("confirm",(data)=>{
            console.log(data)
        })
               
    </script>
</div>