
<div class="container-fluid">

    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>Todos los productos</b></h1>
        </header>
    </div>

    <div class="row">
        <p>{{id}}</p>
        <p>{{title}}</p>
    </div>
</div>