<div class="container-fluid">

    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1 class="text-center "><b>Productos en tiempo real</b></h1>
        </header>
    </div>

    <div class="row">
        <ul id="bodyProducts">
            {{#each productsParse}}
            <li class="mb-2"> <span class="me-1 fw-bold">Producto:</span> {{this.title }}, <span class="ms-2 fw-bold">Id:</span> {{this.id}}</li>
            {{/each}}
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>

        const socket= io("ws://localhost:8090")
        
        const bodyProducts=document.getElementById("bodyProducts")

        socket.on("connect",(data)=>{
            socket.emit("message","mensaje desde el cliente realtime")
        })

        socket.on("newProduct",(data)=>{
                bodyProducts.innerHTML= `${bodyProducts.innerHTML} <li class="mb-2"> <span class="me-1 fw-bold">Producto:</span> ${data.title}, <span class="ms-2 fw-bold">Id:</span>${data.id}</li>`
            })    

    </script>
</div>