<div class="container-fluid">

    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1 class="text-center "><b>Productos en tiempo real</b></h1>
        </header>
    </div>

    <div class="row">
        <ul>
            {{#each productsParse}}
            <li class="mb-2"> <span class="me-1 fw-bold">Producto:</span> {{this.title }}, <span class="ms-2 fw-bold">Id:</span> {{this.id}}</li>
            {{/each}}
            <input type="text" id="inputProduct">
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const wsc= io("ws://localhost:8090")

        wsc.emit("message","mensaje desde el cliente realtime")

        const newProduct= document.getElementById("inputProduct")

        

        newProduct.addEventListener("keyup",evt=>{
            if(evt.key==="Enter"){
                wsc.emit("new",{id:1,title:newProduct.value})
                newProduct.value=""
            }
        })


    </script>
</div>